.footer {
  width: 100%;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1.6rem;
  width: 10.4rem;

  @include bp-large {
    margin: 0 8rem 2.4rem auto;
    width: 15.2rem;
  }
}

.attribution {
  font-size: 11px;

  & a {
    color: #ff52c1;
  }
}
